/* Common set of styles to ensure that text gets truncated w/ an ellipsis */
@font-face {
  font-family: "HelveticaNeueW01-85Heav";
  src: url("./fonts/HelveticaNeueLTW1G-Hv.eot");
  src: url("./fonts/HelveticaNeueLTW1G-Hv.woff") format("woff"), url("./fonts/HelveticaNeueLTW1G-Hv.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaNeueW01-75Bold";
  src: url("./fonts/HelveticaNeueLTW1G-Bd.eot");
  src: url("./fonts/HelveticaNeueLTW1G-Bd.woff") format("woff"), url("./fonts/HelveticaNeueLTW1G-Bd.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaNeueW01-65Medi";
  src: url("./fonts/HelveticaNeueLTW1G-Md.eot");
  src: url("./fonts/HelveticaNeueLTW1G-Md.woff") format("woff"), url("./fonts/HelveticaNeueLTW1G-Md.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaNeueW02-55Roma";
  src: url("./fonts/HelveticaNeueLTW1G-Roman.eot");
  src: url("./fonts/HelveticaNeueLTW1G-Roman.woff") format("woff"), url("./fonts/HelveticaNeueLTW1G-Roman.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaNeueW01-45Ligh";
  src: url("./fonts/HelveticaNeueLTW1G-Lt.eot");
  src: url("./fonts/HelveticaNeueLTW1G-Lt.woff") format("woff"), url("./fonts/HelveticaNeueLTW1G-Lt.ttf") format("truetype");
}

.column-group > .column {
  float: left;
}
.column-group:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
}
.form-row > .form-field,
.form-row > .form-table {
  display: table-cell;
}
.form-row > .form-field {
  vertical-align: middle;
}
.form-row-indented > .form-field,
.form-row > .form-table {
  display: table-cell;
}
.form-row-indented > .form-field {
  vertical-align: middle;
}
.form-row > .form-table {
  vertical-align: top;
}
.ir {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
/**
 * This file contains styling for components that are used on multiple pages. 
 * These components may not be present on all pages, but should adhere to the 
 * same styling in every place, such as buttons, fonts, validation messages, etc.
 */
/**
 * Common styles for the entire application
 */
/* ==========================================================================
   View Area
   ========================================================================== */
/**
 * @section Headers
 * @title View Header
 * @example
 * <div class="view-header"></div>
 */
.view-header {
  height: 45px;
  padding-top: 5px;
  background: url("./images/topbar.png");
  margin-bottom: -5px;
  z-index: 10;
}
/* ==========================================================================
   Popins / Popups
   ========================================================================== */
tr.clickable:hover {
  background-color: #cdeafc;
  cursor: pointer;
}
.popup-page-content {
  padding-left: 15px;
}
/* ==========================================================================
   Scrollbar
   ========================================================================== */
.viewport {
  overflow: hidden;
}
.thumb {
  position: relative;
  left: 4px;
  cursor: pointer;
}
.scrollbar {
  position: relative;
  width: 15px;
  height: 100%;
}
.scrollbar .thumb::selection {
  background: transparent;
}
.scrollbar .track {
  position: relative;
  width: 15px;
  height: 100%;
}
.scrollbar .thumb {
  position: absolute;
  width: 7px;
  overflow: hidden;
  background-color: #43474c;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#58565d, endColorstr=#36393c)";
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#58565d), to(#36393c));
  background-image: -webkit-linear-gradient(top, #58565d, #36393c);
  background-image: -moz-linear-gradient(top, #58565d, #36393c);
  background-image: -ms-linear-gradient(top, #58565d, #36393c);
  background-image: -o-linear-gradient(top, #58565d, #36393c);
  background-image: linear-gradient(top, #58565d, #36393c);
  border-radius: 4px;
}
/* addes the dots in the middle */
.scrollbar .thumb:after {
  content: "";
  display: block;
  height: 100%;
  background: url("./images/dark_scrollbar_center.png") no-repeat center;
  cursor: pointer;
}
/* ==========================================================================
   Error Message pages
   ========================================================================== */
.error-icon-header-width {
  width: 70px;
}
.error-default-row {
  valign: middle;
}
/* ==========================================================================
   Status Messages
   ========================================================================== */
#validation {
  display: none;
  margin: 0 20px 20px 0;
  padding: 10px;
  background: url("./images/1px_red_25.png");
  border: 1px solid #cc3333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 12px;
}
#validation a:link,
#validation a:visited,
#validation a:hover {
  color: #ffffff;
  text-decoration: underline;
}
#success-message {
  display: none;
  margin: 0 20px 20px 0;
  padding: 10px;
  background: url("./images/1px_green_25.png");
  border: 1px solid #00aa00;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 12px;
}
#success-message a:link,
#success-message a:visited,
#success-message a:hover {
  color: #ffffff;
  text-decoration: underline;
}
div.validation div,
div.error,
div.js-error,
.js-error {
  margin: 0 20px 20px 0;
  padding: 10px;
  background: url("./images/1px_red_25.png");
  border: 1px solid #cc3333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 12px;
}
div.validation div a:link,
div.error a:link,
div.js-error a:link,
.js-error a:link,
div.validation div a:visited,
div.error a:visited,
div.js-error a:visited,
.js-error a:visited,
div.validation div a:hover,
div.error a:hover,
div.js-error a:hover,
.js-error a:hover {
  color: #ffffff;
  text-decoration: underline;
}
div.notice {
  width: 530px;
}
.notice,
div.notice,
div.js-notice {
  margin: 0 0 20px 0;
  padding: 10px;
  background: #f5e683;
  border: 1px solid #926312;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 12px;
  color: #3f2b09;
}
.notice a:link,
div.notice a:link,
div.js-notice a:link,
.notice a:visited,
div.notice a:visited,
div.js-notice a:visited,
.notice a:hover,
div.notice a:hover,
div.js-notice a:hover {
  color: #3f2b09;
  text-decoration: underline;
}
div.info,
div.js-info {
  margin: 0 0 20px 0;
  padding: 10px;
  background: url("./images/1px_green_25.png");
  border: 1px solid #00aa00;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 12px;
}
div.info a:link,
div.js-info a:link,
div.info a:visited,
div.js-info a:visited,
div.info a:hover,
div.js-info a:hover {
  color: #ffffff;
  text-decoration: underline;
}
span.info,
span.js-info {
  margin: 0 0 20px 0;
  padding: 10px;
  background: url("./images/1px_green_25.png");
  border: 1px solid #00aa00;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 12px;
  display: none;
}
span.info a:link,
span.js-info a:link,
span.info a:visited,
span.js-info a:visited,
span.info a:hover,
span.js-info a:hover {
  color: #ffffff;
  text-decoration: underline;
}
div.warning,
div.js-warning {
  margin: 0 0 20px 0;
  padding: 10px;
  background: url("./images/1px_gold_25.png");
  border: 1px solid #f5e683;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 12px;
}
div.warning a:link,
div.js-warning a:link,
div.warning a:visited,
div.js-warning a:visited,
div.warning a:hover,
div.js-warning a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.footnote {
  padding: 2px;
  font-size: .9em;
}
div.js-warning,
div.js-error {
  display: none;
}
div.js-info {
  display: none;
}
#error-page-msg {
  margin: 0 20px 20px 0;
  padding: 10px 10px 10px 24px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'HelveticaNeueW01-75Bold', Helvetica, sans-serif;
  font-size: 12px;
  color: #fff;
  background: url('./images/1px_red_25.png');
  border: 1px solid #c33;
}
#messages #error-page-msg {
  margin: 0 0 20px 0;
}
.warning-icon {
  background: url('./images/warning_icon.png');
  position: absolute;
  top: 26px;
  left: 24px;
  width: 17px;
  height: 16px;
}
/* ==========================================================================
   Table
   ========================================================================== */
.unstyled {
  list-style: none;
}
.form-table table {
  width: 400px;
}
.form-table table td a,
.form-table table td a:link,
.form-table table td a:visited {
  font-family: "HelveticaNeueW02-55Roma", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 12px;
}
.form-table table td a a,
.form-table table td a:link a,
.form-table table td a:visited a {
  color: #ffffff;
  text-decoration: underline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table.brivo-list {
  border-collapse: separate;
}
table.brivo-list th {
  font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
  font-weight: normal;
  color: #c4c4c4;
  font-size: 14px;
  border-bottom: 0;
}
table.brivo-list th a,
table.brivo-list th a:link,
table.brivo-list th a:visited {
  font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
  font-weight: normal;
  color: #c4c4c4;
  font-size: 14px;
}
table.brivo-list th a a,
table.brivo-list th a:link a,
table.brivo-list th a:visited a {
  color: #ffffff;
  text-decoration: underline;
}
table.brivo-list > thead td {
  vertical-align: top;
  border-bottom: 1px solid #555555;
}
table.brivo-list th:first-child,
table.brivo-list td:first-child {
  padding-left: 20px;
}
table.brivo-list th:last-child,
table.brivo-list td:last-child {
  padding-right: 20px;
}
table.brivo-list > tbody tr {
  background: url(./images/100px_black_50.png);
}
table.brivo-list > tbody tr.allow-hover:hover {
  background: url(./images/100px_black_25.png);
}
table.brivo-list > tbody tr.selected {
  background: url(./images/100px_white_25.png);
}
table.brivo-list > tbody td {
  height: 30px;
  border-bottom: 1px solid #555555;
  font-family: "HelveticaNeueW02-55Roma", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 12px;
}
table.brivo-list > tbody td a,
table.brivo-list > tbody td a:link,
table.brivo-list > tbody td a:visited {
  font-family: "HelveticaNeueW02-55Roma", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 12px;
}
table.brivo-list > tbody td a a,
table.brivo-list > tbody td a:link a,
table.brivo-list > tbody td a:visited a {
  color: #ffffff;
  text-decoration: underline;
}
table.brivo-list > tbody td .alert {
  color: #ff0000;
}
table.brivo-list img {
  vertical-align: middle;
}
table.brivo-list img.icon {
  margin-right: 6px;
  vertical-align: bottom;
}
/* This class provides styling for the empty list message displayed inside list table when no results are found. */
.empty-list-msg {
  margin-left: 8px;
}
/* wrap table.results in div.results */
div.results {
  margin-left: -20px;
  padding: 5px 0px 15px 0px;
}
table.results {
  width: 100%;
}
th {
  color: #666666;
}
table.results td,
thead th {
  padding: 2px 2px 2px 0;
  border-bottom: 1px solid #cccccc;
  font-weight: normal;
}
tr.odd td {
  background-color: #eeeeee;
}
table.duplex td,
table.duplex th {
  padding-right: 15px;
  padding-bottom: 4px;
}
table.duplex th,
form th {
  color: black;
}
form th {
  white-space: nowrap;
}
form th,
form td {
  padding-bottom: 2px;
  vertical-align: middle;
}
/* ==========================================================================
   Alphabet Control
   ========================================================================== */
#alpha,
.alpha {
  float: left;
  padding-top: 17px;
  font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
  font-weight: normal;
  color: #52575e;
  font-size: 13px;
}
#alpha > *,
.alpha > * {
  padding: 0 2px;
}
#alpha a,
.alpha a {
  color: #dadbdc;
  font-weight: normal;
}
#alpha a:hover,
.alpha a:hover {
  background-color: #777777;
  color: #ffffff;
}
#alpha .alpha-dim a,
.alpha .alpha-dim a {
  color: #929dac;
}
/* ==========================================================================
   Paging Controls
   ========================================================================== */
.result-count {
  margin: 0 0 5px 0;
  font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
  font-weight: normal;
  color: #c4c4c4;
  font-size: 14px;
  text-align: left;
}
img.pagingButton {
  margin: 0 9px 0 0;
  width: 26px;
  height: 26px;
}
img.pagingButton.disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
}
/* ==========================================================================
   Buttons
   ========================================================================== */
button {
  border: 0 none;
  outline: 0 none;
}
.reset-button {
  width: 28px;
  height: 28px;
  background: url("./images/btn_reset.png") no-repeat;
  cursor: pointer;
}
.plus-button {
  width: 25px;
  height: 19px;
  cursor: pointer;
  display: inline-block;
  background: url("./images/plus.png") no-repeat;
}
.minus-button {
  width: 25px;
  height: 19px;
  cursor: pointer;
  display: inline-block;
  background: url("./images/minus.png") no-repeat;
}
.deleteIcon,
.editIcon {
  width: 14px;
  height: 14px;
  display: inline-block;
}
.deleteIcon.on,
.deleteIcon.off {
  top: 7px;
  width: 22px;
  height: 21px;
  background: url("./images/icon_delete.png") no-repeat;
}
.deleteIcon.off,
.editIcon.off {
  cursor: default;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.editIcon.on,
.editIcon.off {
  top: 7px;
  width: 16px;
  height: 21px;
  background: url("./images/icon.edit.png") 0px 4px no-repeat;
}
/* Styling for submit button group. */
.submit-button-group {
  padding: 15px 0px 0px 0px;
}
/* ==========================================================================
   Default Button Styling
   ========================================================================== */
.button-group > * {
  margin-right: 10px;
}
.brivo-button {
  display: inline-block;
  height: 26px;
  line-height: 25px;
  padding: 0 10px;
  margin-right: 5px;
  background: url("./images/bg_button.png") repeat-x;
  border-width: 1px;
  border-style: solid;
  border-color: #cecece #bababa #919191 #b9b9b9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #52575e;
  font-size: 13px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.brivo-button a,
.brivo-button a:link,
.brivo-button a:visited,
.brivo-button a:active {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #52575e;
  font-size: 13px;
  text-decoration: none;
}
.brivo-button.disabled {
  filter: alpha(opacity=50);
  opacity: 0.25;
  cursor: default;
  text-decoration: none;
}
a.brivo-button,
a:link.brivo-button,
a:visited.brivo-button,
a:active.brivo-button {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #52575e;
  font-size: 13px;
}
.btn-default {
  display: inline-block;
  cursor: pointer;
}
.pad-button-left {
  padding-left: 15px;
}
/**
 * @section Buttons
 * @title Default Button
 * @example
<div class="default">
    <div class="left-cap"></div>
    <div class="content">
        <span class="label">Button</span>
    </div>
    <div class="right-cap"></div>
</div>
 */
button.default,
.btn-default {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 30px;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* this is where you put the label and any icons */
}
button.default .content,
.btn-default .content {
  height: 30px;
  margin: 0 7px;
  background: url("./images/btn_middle.png") repeat-x;
  color: #52575e;
  font-size: 14px;
  font-weight: 500;
  text-shadow: 0 1px #ffffff;
}
button.default .left-cap,
.btn-default .left-cap,
button.default .right-cap,
.btn-default .right-cap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 7px;
}
button.default .left-cap,
.btn-default .left-cap {
  left: 0;
  background: url("./images/btn_left.png") no-repeat;
}
button.default .right-cap,
.btn-default .right-cap {
  right: 0;
  background: url("./images/btn_right.png") no-repeat;
}
button.default:hover,
.btn-default:hover {
  /* hover state */
}
button.default:hover .content,
.btn-default:hover .content {
  background-image: url("./images/btn_middle_hover.png");
}
button.default:hover .left-cap,
.btn-default:hover .left-cap {
  background-image: url("./images/btn_left_hover.png");
}
button.default:hover .right-cap,
.btn-default:hover .right-cap {
  background-image: url("./images/btn_right_hover.png");
}
div.capsule {
  width: 98%;
  padding: 5px 0 15px 0;
  position: relative;
  display: inline-block;
}
.pagingContainer {
  text-align: center;
  position: relative;
  float: right;
  right: 0px;
  bottom: 0px;
}
/* ==========================================================================
   Buttons: Search
   ========================================================================== */
/**
 * @section Buttons
 * @title Search Button
 * @example
  <button class="default search">
        <div class="left-cap"></div>
        <div class="content">
            <i class="icon"></i>
            <span class="label">Search</span>
        </div>
        <div class="right-cap"></div>
    </button>
 */
button.search,
.btn-default.search {
  width: 178px;
  text-align: center;
}
button.search .icon,
.btn-default.search .icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0 3px 0 0;
  background: url("./images/icon_magnifying_glass.png");
  vertical-align: middle;
}
/* ==========================================================================
   Buttons: Toggle
   ========================================================================== */
/**
 * @section Buttons
 * @title Toggle Button Group
 * @example
<div class="toggle">
    <button class="timeline-btn first selected">
        <i class="icon"></i> timeline
    </button>
    <button class="priorities-btn">
        <i class="icon"></i> priorities
    </button>
    <button class="sites-btn last">
        <i class="icon"></i> sites
    </button>
</div>
 */
.toggle button {
  float: left;
  position: relative;
  height: 28px;
  line-height: 28px;
  padding: 0 7px;
  /* Note 7px is to match the end cap width */
  background: url("./images/selector1_off_middle.png") repeat-x;
  font-size: 14px;
  color: #717171;
  text-transform: capitalize;
  overflow: visible;
  /* NOTE: IE has overflow hidden which hides the end caps */
  min-width: 118px;
}
.toggle.opaque button {
  background-image: url("./images/selector3_off_middle.png");
}
/* to prevent buttons from shifting down in mouse down state */
.toggle button:active {
  padding: 0 7px;
  margin: 0;
  outline: none;
  border: none;
}
/*
    NOTE: need to use .first and .last instead of :first-child and :last-child
    due to not being able to combine :after with other heirarchical selectors (:last-child) in IE8
 */
.toggle button.first {
  padding-left: 0;
}
.toggle button.last {
  padding-right: 0;
}
/* need a cap at the end */
.toggle button.first:before,
.toggle button.last:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 7px;
  height: 28px;
}
/* outter curved edges */
.toggle button.first:before {
  left: -7px;
  background: url("./images/selector2_off_left.png") repeat-x;
  z-index: 10;
}
.toggle.opaque button.first:before {
  background: url("./images/selector4_off_left.png") repeat-x;
}
.toggle button.last:after {
  right: -7px;
  background: url("./images/selector1_off_right.png") repeat-x;
  z-index: 10;
}
.toggle.opaque button.last:after {
  background-image: url("./images/selector3_off_right.png");
}
/* selected state */
.toggle button.selected {
  background-image: url("./images/selector1_on_middle.png");
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px -1px rgba(0, 0, 0, 0.4);
  /* NOTE: doesn't work for IE < 10 */
}
.toggle.opaque button.selected {
  background-image: url("./images/selector3_on_middle.png");
}
/* selected straight edges on the inside: left */
.toggle button.selected:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 28px;
}
.toggle button.selected:before {
  background-image: url("./images/selector3_on_left.png");
}
/* selected straight edges on the inside: right */
.toggle button.selected:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 28px;
  background-image: url("./images/selector1_on_right.png");
}
.toggle.opaque button.selected:after {
  background-image: url("./images/selector3_on_right.png");
}
.toggle button.selected.first:before {
  left: -7px;
  z-index: 10;
}
.toggle.opaque button.selected.first:before {
  background-image: url("./images/selector3_on_left.png");
}
.toggle button.selected.last:after {
  right: -7px;
  z-index: 10;
}
.toggle.opaque button.selected.last:after {
  right: -7px;
  background-image: url("./images/selector4_on_right.png");
  z-index: 10;
}
.toggle .icon {
  display: inline-block;
  vertical-align: middle;
}
/* ==========================================================================
   Buttons: Settings
   ========================================================================== */
button.settings {
  width: 40px;
  height: 40px;
  background: url("./images/settings_cog.png") no-repeat;
}
button.settings.on {
  background-position: 0 0;
}
button.settings:hover {
  background-position: 0 -40px;
}
button.settings.off {
  background-position: 0 -80px;
}
/* ==========================================================================
   Buttons: Pulse Door
   ========================================================================== */
#pulseDoorButton > .icon {
  display: inline-block;
  width: 16px;
  height: 14px;
  margin: -5px 6px 0 0;
  background: url("./images/icon_unlock.png");
  vertical-align: middle;
}
/* ==========================================================================
   Buttons: Row Delete
   ========================================================================== */
.deleteAction {
  display: block;
  width: 22px;
  height: 21px;
  background: url("./images/icon_delete.png") no-repeat center center;
}
.deleteAction.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}
/* ==========================================================================
   Text inputs / areas
   ========================================================================== */
input[type=text],
input[type=password],
input[type=number] {
  height: 30px;
  line-height: 29px;
  /*ie8 vertical text align*/
  padding: 0 10px;
  background: url("./images/dark_input_middle.png") repeat-x;
  border: 0 none;
  margin-right: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #dadbdc;
  font-size: 13px;
}
input[type=radio] + label {
  font-size: 12px;
}
input[type="text"]:disabled {
  background: url("./images/light_input_middle.png");
}
input[type="password"]:disabled {
  background: url("./images/light_input_middle.png");
}
.text-input, .number-input {
  position: relative;
  width: 170px;
  height: 30px;
}
.text-input.narrow, .number-input.narrow  {
  width: 120px;
}
.text-input.medium, .number-input.medium {
  width: 220px;
}
.text-input.wide, .number-input.wide {
  width: 270px;
}
.text-input input, .number-input input {
  position: relative;
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: none;
}
.text-input input[disabled], .number-input input[disabled] {
  color: #a5a8ac;
}
.text-input input::-webkit-input-placeholder, .number-input input::-webkit-input-placeholder {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #444649;
  font-size: 13px;
}
.text-input input:-moz-placeholder, .number-input input:-moz-placeholder {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #444649;
  font-size: 13px;
}
.text-input input:-ms-input-placeholder, .number-input input:-ms-input-placeholder {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #444649;
  font-size: 13px;
}
.text-input input .placeholder, .number-input input .placeholder {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #444649;
  font-size: 13px;
}
.text-input.light input, .number-input.light input {
  color: #52575e;
}
.text-input.light input[disabled], .number-input.light input[disabled] {
  color: #bdbdbd;
}
.text-input.light input::-webkit-input-placeholder,
.text-input.light input:-moz-placeholder,
.text-input.light input:-ms-input-placeholder, 
.number-input.light input::-webkit-input-placeholder,
.number-input.light input:-moz-placeholder,
.number-input.light input:-ms-input-placeholder, {
  color: #52575e;
}
.text-input.light input .placeholder,.number-input.light input .placeholder  {
  color: #52575e;
}
.text-input.datepicker:after, .number-input.datepicker:after {
  position: absolute;
  display: block;
  top: 6px;
  right: 7px;
  width: 15px;
  height: 16px;
  content: " ";
  background: url("./images/calendar_icon.png") no-repeat top right;
  pointer-events: none;
}gradl
.text-input.datepicker input, .number-input.datepicker input {
  padding-right: 30px;
}
.text-input > .left,
.text-input > .right,
.text-input > .middle,
.number-input > .left,
.number-input > .right,
.number-input > .middle {
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
}
.text-input > .left,
.text-input > .right,
.number-input > .left,
.number-input > .right {
  width: 7px;
}
.text-input > .left,
.number-input > .left {
  left: 0px;
  background-image: url("./images/dark_input_left.png");
}
.text-input > .right,
.number-input > .right {
  right: 0px;
  background-image: url("./images/dark_input_right.png");
}
.text-input > .middle,
.number-input > .middle {
  left: 7px;
  right: 7px;
  background: url("./images/dark_input_middle.png") repeat-x;
}
.text-input.light > .left,
.number-input.light > .left {
  background-image: url("./images/light_input_left.png");
}
.text-input.light > .right,
.number-input.light > .right  {
  background-image: url("./images/light_input_right.png");
}
.text-input.light > .middle,
.number-input.light > .middle  {
  background-image: url("./images/light_input_middle.png");
}
.text-input.form-field ,
.number-input.form-field{
  padding-right: 2px;
}
.text-input.form-field > .right,
.number-input.form-field > .right {
  right: 2px;
}
.text-input.form-field > .middle,
.number-input.form-field > .middle  {
  right: 9px;
}
.text-input.form-field.datepicker:after,
.number-input.form-field.datepicker:after {
  right: 9px;
}
.textarea-input {
  position: relative;
  padding: 1px 1px 2px 0px;
}
.textarea-input textarea {
  display: block;
  position: relative;
  padding: 0px 0px 0px 10px;
  margin: 0px;
  border: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: none;
  line-height: 29px;
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #dadbdc;
  font-size: 13px;
  overflow-y: auto;
}
.textarea-input textarea[disabled] {
  color: #a5a8ac;
}
.textarea-input textarea::-webkit-input-placeholder {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #444649;
  font-size: 13px;
}
.textarea-input textarea:-moz-placeholder {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #444649;
  font-size: 13px;
}
.textarea-input textarea:-ms-input-placeholder {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #444649;
  font-size: 13px;
}
.textarea-input textarea .placeholder {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #444649;
  font-size: 13px;
}
.multiselect-input {
  position: relative;
  padding: 1px 1px 2px 0px;
}
.multiselect-input select[size] {
  display: block;
  position: relative;
  background: none;
  padding: 1px 2px 1px;
  margin: 0px;
  border: 0px;
  border-radius: 7px;
  color: #dadbdc;
  width: 250px;
}
.mutliselectwrapper .button-group {
  position: relative;
  padding: 4px 0px 6px;
}
.textarea-input > .top_left,
.multiselect-input > .top_left,
.textarea-input > .top_right,
.multiselect-input > .top_right,
.textarea-input > .top,
.multiselect-input > .top,
.textarea-input > .left,
.multiselect-input > .left,
.textarea-input > .right,
.multiselect-input > .right,
.textarea-input > .middle,
.multiselect-input > .middle,
.textarea-input > .bottom_left,
.multiselect-input > .bottom_left,
.textarea-input > .bottom_right,
.multiselect-input > .bottom_right,
.textarea-input > .bottom,
.multiselect-input > .bottom {
  position: absolute;
}
.textarea-input > .top_left,
.multiselect-input > .top_left,
.textarea-input > .top_right,
.multiselect-input > .top_right,
.textarea-input > .top,
.multiselect-input > .top {
  top: 0px;
}
.textarea-input > .bottom_left,
.multiselect-input > .bottom_left,
.textarea-input > .bottom_right,
.multiselect-input > .bottom_right,
.textarea-input > .bottom,
.multiselect-input > .bottom {
  bottom: 0px;
}
.textarea-input > .top_left,
.multiselect-input > .top_left,
.textarea-input > .left,
.multiselect-input > .left,
.textarea-input > .bottom_left,
.multiselect-input > .bottom_left {
  left: 0px;
}
.textarea-input > .top_right,
.multiselect-input > .top_right,
.textarea-input > .right,
.multiselect-input > .right,
.textarea-input > .bottom_right,
.multiselect-input > .bottom_right {
  right: 0px;
}
.textarea-input > .top,
.multiselect-input > .top,
.textarea-input > .bottom,
.multiselect-input > .bottom,
.textarea-input > .middle,
.multiselect-input > .middle {
  left: 7px;
  right: 7px;
}
.textarea-input > .left,
.multiselect-input > .left,
.textarea-input > .right,
.multiselect-input > .right,
.textarea-input > .middle,
.multiselect-input > .middle {
  top: 15px;
  bottom: 15px;
}
.textarea-input > .top_left,
.multiselect-input > .top_left,
.textarea-input > .top_right,
.multiselect-input > .top_right,
.textarea-input > .top,
.multiselect-input > .top,
.textarea-input > .bottom_left,
.multiselect-input > .bottom_left,
.textarea-input > .bottom_right,
.multiselect-input > .bottom_right,
.textarea-input > .bottom,
.multiselect-input > .bottom {
  height: 15px;
}
.textarea-input > .top_left,
.multiselect-input > .top_left,
.textarea-input > .top_right,
.multiselect-input > .top_right,
.textarea-input > .left,
.multiselect-input > .left,
.textarea-input > .right,
.multiselect-input > .right,
.textarea-input > .bottom_left,
.multiselect-input > .bottom_left,
.textarea-input > .bottom_right,
.multiselect-input > .bottom_right {
  width: 7px;
}
.textarea-input > .top_left,
.multiselect-input > .top_left,
.textarea-input > .top_right,
.multiselect-input > .top_right,
.textarea-input > .bottom_left,
.multiselect-input > .bottom_left,
.textarea-input > .bottom_right,
.multiselect-input > .bottom_right {
  background-repeat: none;
}
.textarea-input > .top,
.multiselect-input > .top,
.textarea-input > .bottom,
.multiselect-input > .bottom {
  background-repeat: repeat-x;
}
.textarea-input > .left,
.multiselect-input > .left,
.textarea-input > .right,
.multiselect-input > .right {
  background-repeat: repeat-y;
}
.textarea-input > .middle,
.multiselect-input > .middle {
  background-repeat: repeat;
}
.textarea-input > .top_left,
.multiselect-input > .top_left {
  background-image: url("./images/dark_textarea_top_left.png");
}
.textarea-input > .top_right,
.multiselect-input > .top_right {
  background-image: url("./images/dark_textarea_top_right.png");
}
.textarea-input > .top,
.multiselect-input > .top {
  background-image: url("./images/dark_textarea_top.png");
}
.textarea-input > .left,
.multiselect-input > .left {
  background-image: url("./images/dark_textarea_left.png");
}
.textarea-input > .right,
.multiselect-input > .right {
  background-image: url("./images/dark_textarea_right.png");
}
.textarea-input > .middle,
.multiselect-input > .middle {
  background-image: url("./images/dark_textarea_middle.png");
}
.textarea-input > .bottom_left,
.multiselect-input > .bottom_left {
  background-image: url("./images/dark_textarea_bottom_left.png");
}
.textarea-input > .bottom_right,
.multiselect-input > .bottom_right {
  background-image: url("./images/dark_textarea_bottom_right.png");
}
.textarea-input > .bottom,
.multiselect-input > .bottom {
  background-image: url("./images/dark_textarea_bottom.png");
}
.radio-input {
  padding-right: 10px;
  padding-left: 2px;
}
.form-field > .dropdown {
  top: 1px;
  left: 1px;
  padding-right: 42px;
}
/* light style */
input[type=text].light,
input[type=password].light {
  height: 28px;
  border: 1px solid #b3b3b3;
  background: url("./images/bg_input.png") repeat-x;
  color: #52575e;
}
/* Mini-mixin for the text inputs below */
.text-input-label,
.number-input-label {
  display: inline-block;
  width: 180px;
  vertical-align: baseline;
}
.text-area-input-label {
  display: inline-block;
  width: 180px;
  vertical-align: top;
}
textarea {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-color: -moz-use-text-color -moz-use-text-color #595a5a;
  border-style: none none solid;
  border-width: medium medium 1px;
  line-height: 29px;
  padding: 0 10px;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #dadbdc;
  font-size: 13px;
  resize: none;
}
.text-input-display {
  max-width: 500px;
}
.text-input-display a:link,
.text-input-display a:visited,
.text-input-display a:hover {
  color: #ffffff;
}
.text-input-display .label {
  display: inline-block;
  width: 75px;
}
label {
  width: 180px;
}
label,
.label {
  padding: 0px 10px 0px 0px;
  font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
  font-weight: normal;
  color: #c4c4c4;
  font-size: 14px;
  word-wrap: break-word;
}
/* ==========================================================================
   Multi-Line Select
   ========================================================================== */
select[size] {
  color: #dadbdc;
  border: none;
  border-bottom: 1px solid #595a5a;
  width: 250px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select[size].transparent-background {
  border-left: 1px solid #595a5a;
  border-right: 1px solid #595a5a;
}
/* ==========================================================================
   Combobox
   ========================================================================== */
.text-input.combobox input {
  padding-right: 20px;
}
.text-input .arrow-icon {
  position: absolute;
  top: 0;
  right: -14px;
  width: 16px;
  height: 29px;
}
.text-input .arrow-icon.down {
  background: url("./images/dark_arrowdown.png") no-repeat 0px 12px;
}
.text-input .arrow-icon.up {
  background: url("./images/dark_arrowup.png") no-repeat 0px 12px;
}
.combocontainer input {
  height: 28px;
  padding-right: 20px;
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  color: #bcbfc4;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.combocontainer div.ui-combobox > img {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 24px;
  height: 26px;
}
.combocontainer .trigger {
  position: absolute;
  right: 0;
  width: 24px;
  height: 28px;
  z-index: 100;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
.combocontainer .caret {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #ffffff;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}
.combocontainer select.ui-combobox {
  display: none;
}
ul.ui-autocomplete {
  padding: 5px 0;
  background: #000000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  opacity: 0.95;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: block;
  clear: both;
  line-height: 20px;
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #52575e;
  font-size: 13px;
  white-space: nowrap;
  max-height: 260px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  /* 	Ensure that the overflow scrolling is not inharited further down the line
        This fixes the z-index layering issue found on iOS6 Mobile Safari */
}
ul.ui-autocomplete > * {
  -webkit-overflow-scrolling: auto;
}
ul.ui-autocomplete .ui-autocomplete-category {
  color: #ffffff;
}
ul.ui-autocomplete > li > a {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #999999;
  font-size: 13px;
}
ul.ui-autocomplete > li > a:hover,
ul.ui-autocomplete > li > a:focus,
ul.ui-autocomplete > .selected > a,
ul.ui-autocomplete > .selected > a:hover,
ul.ui-autocomplete > .selected > a:focus {
  text-decoration: none;
  outline: 0;
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 13px;
  background-color: #212526;
}
ul.ui-autocomplete > .disabled > a,
ul.ui-autocomplete > .disabled > a:hover,
ul.ui-autocomplete > .disabled > a:focus {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #999999;
  font-size: 13px;
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: default;
}
/* ==========================================================================
   Select - this will be removed completely
   ========================================================================== */
.select.dark {
  width: 200px;
  height: 29px;
  position: relative;
  border-radius: 4px;
  background: url("./images/dark_dropdown_middle.png") repeat-x;
  overflow: hidden;
}
.select.dark .arrow {
  background: url("./images/dark_arrowdown.png") no-repeat;
  width: 9px;
  height: 6px;
  float: right;
  margin-top: 10px;
  margin-right: 7px;
}
.select.dark select {
  height: 29px;
  width: 220px;
  background: transparent;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 5px;
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #999ca0;
  font-size: 13px;
}
.select.dark select:focus {
  outline: none;
}
/* ==========================================================================
   Filters
   ========================================================================== */
.filters > * {
  vertical-align: middle;
}
.filters > .label {
  font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
  font-weight: normal;
  color: #c4c4c4;
  font-size: 14px;
}
.filters .operand {
  font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
  font-weight: normal;
  color: #c4c4c4;
  font-size: 14px;
  margin: 0 10px;
}
.filters .filterButtons {
  padding-left: 5px;
}
.filters,
#pagingButtons {
  display: inline-block;
}
span.highlight {
  font-weight: bold;
  color: #6666ff;
}
/* ==========================================================================
   Keys
   ========================================================================== */
table.capsule {
  width: 98%;
  margin: 0;
}
table.capsule > tr td > .label {
  font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
  font-weight: normal;
  color: #c4c4c4;
  font-size: 14px;
  margin-right: 10px;
}
table.capsule > tr td #pager {
  position: absolute;
  top: 0;
  right: 5px;
}
table.capsule > tr td .list-key-item {
  margin-left: 20px;
  padding-left: 20px;
  height: 20px;
  line-height: 20px;
}
#pager {
  text-align: right;
}
/* ==========================================================================
   Checkboxes and Radio Buttons
   ========================================================================== */
/* line 1229, /home/nick.castillo/workspace/acs-real-trunk/jsp/access/ui/css/common.less */
.checkbox {
  margin-right: 10px;
}
.checkbox-padding {
  padding-right: 5px;
}
input[type=radio] {
  margin-right: 3px;
}
/**     line up checkbox and radio buttons vertically with labels */
.rowheader input[type=checkbox],
input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}
/**     line up checkbox and radio buttons vertically with labels */
.rowheader input[type=radio] {
  bottom: 1px;
}
.form-checkbox {
  padding-top: 4px;
}
.form-checkbox > span {
  float: left;
  padding-right: 5px;
}
.form-checkbox label {
  width: auto;
  vertical-align: top;
  padding-top: 2px;
}
/* ==========================================================================
   Section Links
   ========================================================================== */
.sectionLinks {
  padding: 0 15px 15px 0;
}
.section-links-dropdown a.dropdown-toggle {
  width: 122px;
  height: 16px;
}
.section-links-dropdown .dropdown-menu li a {
  width: 120px;
  padding: 5px 20px;
  line-height: 15px;
  white-space: normal;
}
#section-link-more-options {
  position: absolute;
}
/* ==========================================================================
   Page Layout
   ========================================================================== */
.formLabel {
  width: 180px;
  display: inline-block;
  word-wrap: break-word;
}
.form-row-group {
  margin: 0px 0px 25px 0px;
}
.form-row {
  margin: 0px 0px 5px 0px;
}
.form-row-indented {
  margin: 0px 0px 5px 20px;
}
.text-and-buttons {
  padding-right: 5px;
}
.form-table-row {
  margin: 0px 0px 25px 0px;
}
.submitrow {
  padding: 0px 0px 18px 0px;
}
.submitrow input {
  margin-right: 10px;
}
/* ==========================================================================
   Print Page
   ========================================================================== */
.print_row {
  border-bottom: 1px solid gray;
}
.print_body {
  margin: 5px;
}
.print-table {
  width: 750px;
}
.print_hed {
  border-bottom: 2px solid black;
  font-weight: bold;
}
.print_row {
  border-bottom: 1px solid gray;
}
.print_header {
  width: 750px;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 15px;
}
.print-content-div {
  position: absolute;
}
.print_table_schedule {
  width: 750px;
}
.print_table_schedule tr.title_row th {
  font-size: 14px;
  border-bottom: none;
  padding-top: 20px;
}
.print_table_schedule tr th {
  color: #333333;
  border-bottom: 2px solid black;
  font-weight: bold;
  padding-top: 10px;
  text-align: left;
}
.print_table_schedule tr td {
  border-bottom: 1px solid gray;
}
.print_table_schedule tr td:first-child {
  width: 120px;
}
/* Styling for 'Report Generated' text at top of Print All and View Relationships pages. */
.report-generated-text-printable {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #4b4d4e;
  font-size: 11px;
}
.report-generated-text {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #b5b5b5;
  font-size: 11px;
}
.report-generated-timestamp {
  float: left;
  text-align: left;
}
.report-generated-account {
  float: right;
  text-align: right;
  padding-right: 15px;
}
.report-generated-clear {
  clear: both;
}
/* ==========================================================================
   Simply Formatting
   ========================================================================== */
.instruction-detail {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #b5b5b5;
  font-size: 14px;
}
.instruction-detail.break {
  padding-bottom: 15px;
}
.instruction-title {
  font-family: "HelveticaNeueW01-45Ligh", Helvetica, sans-serif;
  font-weight: normal;
  color: #b5b5b5;
  font-size: 24px;
  margin-top: 0;
  padding-bottom: 10px;
}
.warning {
  margin-bottom: 20px;
}
/* Provides styling for secondary heading. */
.section-heading {
  font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
  font-weight: normal;
  color: #e4e4e4;
  font-size: 14px;
  margin-bottom: 15px;
}
.section-heading a {
  color: #ffffff;
  text-decoration: underline;
}

.subsection-heading {
  position: relative;
  left: 194px;
  max-width: 500px;
  padding: 4px 0px 6px 0px;
}

/* Includes Dotted line under links on view pages */
.listInputDisplay {
  display: inline-block;
}
.listInputDisplay a {
  color: #ffffff;
  border-bottom: 1px dotted #cccccc;
}
/* ==========================================================================
   Loading Box
   ========================================================================== */
#loading-icon {
  position: absolute;
  left: 50%;
  margin-top: 150px;
}
.alert-box {
  position: relative;
  left: -50%;
}
.alert-box .alert-box-left,
.alert-box .alert-box-right {
  width: 26px;
  height: 172px;
  float: left;
}
/*.alert-box .alert-box-left {
  background: url("../images/views/video/alertbox/bg_alertbox_left.png");
}
.alert-box .alert-box-right {
  background: url("../images/views/video/alertbox/bg_alertbox_right.png");
}
.alert-box .alert-box-middle {
  background: url("../images/views/video/alertbox/bg_alertbox_center.png");
  height: 172px;
  float: left;
}*/
.alert-box .alert-box-middle > .alert-content {
  padding: 30px 10px 25px 10px;
  text-align: center;
  position: relative;
}
.alert-box .alert-box-middle > .alert-content > .notification-title {
  margin-top: 5px;
}
.alert-box.acquire-data .notification-detail {
  margin-top: 100px;
}
.spinner {
  top: 35px;
  left: 50%;
}
/* ==========================================================================
   Font (Loading)
   ========================================================================== */
.notification-detail {
  font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
  font-weight: normal;
  color: #8a8a8a;
  font-size: 9px;
  text-transform: uppercase;
}
/* ==========================================================================
   Helpers (classes that must be executed, therefore at the bottom)
   ========================================================================== */
.hidden {
  display: none;
}
/* ==========================================================================
   Common link styling
   ========================================================================== */
.clickable-text a {
  color: #ffffff;
  text-decoration: underline;
}
/* same styling as .clickable-text but acting directly on the anchor */
.contrastingAnchor {
  color: #ffffff;
  text-decoration: underline;
}
/* Remove borders around image links in IE */
a,
img {
  border: none;
}
/* ==========================================================================
   Instuctional, hint and example text generally found around
   (prior to the form, or directly beside/underneath a field)
   ========================================================================== */
.instructions {
  max-width: 500px;
  padding: 0px 0px 12px 0px;
  font-family: "HelveticaNeueW02-55Roma", Helvetica, sans-serif;
  color: #bababa;
  font-size: 11px;
}
.form-instructions {
  position: relative;
  max-width: 500px;
  padding: 0px 0px 12px 0px;
  font-family: "HelveticaNeueW02-55Roma", Helvetica, sans-serif;
  color: #bababa;
  font-size: 11px;
}
.form-hint {
  position: relative;
  left: 194px;
  max-width: 500px;
  padding: 4px 0px 6px 0px;
  font-family: "HelveticaNeueW02-55Roma", Helvetica, sans-serif;
  color: #bababa;
  font-size: 11px;
}
.form-example {
  display: table-cell;
  vertical-align: middle;
  padding-left: 6px;
}
.radio-list .form-hint {
  padding-top: 0px;
  margin-top: -2px;
}
/* ==========================================================================
   Common styling for displaying user images
   ========================================================================== */
.user-badge-image {
  width: 80px;
}
/* ==========================================================================
   Clickable area (Used to mask behind a popup/dropdown and let the user 
   "click anywhere" to escape the popup)
   ========================================================================== */
#clickable-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#clickable-area.for-menu {
  z-index: 4;
}

/* ==========================================================================
   Common styling for video provider external links and text
   ========================================================================== */
.thirdPartyClientDownload {
  font-size: 12px;
}

.thirdPartyClientDownload a, .thirdPartyClientDownload a:visited {
  color: #1c94c4;
}
