.ddsmoothmenu {
	/*background of menu bar (default state)*/
	height: 50px;
	z-index: 7;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ddsmoothmenu * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ddsmoothmenu ul,
.menuDropdownSpan ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	z-index: 6;
}

/*Top level list items*/
.ddsmoothmenu ul li,
.menuDropdownSpan ul li {
	display: inline;
	position: relative;
	float: left;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	/* TODO: Replace font styles with SASS mixin */
	font-family: 'HelveticaNeueW01-75Bold', Helvetica, sans-serif;
	font-size: 11px;
	z-index: 5;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a,
.menuDropdownSpan ul li a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	z-index: 4;
}

.ddsmoothmenu ul li div a.tab {
	display: inline-block;
	background: url('./images/tab_v2_right.png') top right no-repeat;
	height: 50px;
	text-decoration: none;
	color: #ffffff;
	z-index: 3;
	position: relative;
	cursor: default;
}

.ddsmoothmenu ul li div a.tab span {
	display: inline-block;
	position: relative;
	line-height: 50px;
	padding: 0 20px;
	z-index: 2;
}

.ddsmoothmenu ul li div a.tab span.with-arrow {
	padding: 0 30px 0 20px;
}

.ddsmoothmenu ul li div a:link,
.ddsmoothmenu ul li div a:visited {
	color: #9eb5d1;
}

.ddsmoothmenu ul li div span {
	display: inline-block;
	height: 50px;
}

.ddsmoothmenu ul li div span:hover {
	background: url('./images/tab_v2_center_hover.png') bottom repeat-x;
}

.ddsmoothmenu ul li div a:hover {
	background: url('./images/tab_right_hover.png') top right repeat-y;
	color: #ffffff !important;
}

.ddsmoothmenu ul li:first-child div a span {
	background: url('./images/tab_left_hover.png') top left repeat-y;
}

.ddsmoothmenu ul li div a span:hover {
	background: url('./images/tab_left_hover.png') top left repeat-y;
	color: #ffffff !important;
}

.menuDropdownSpan {
	position: relative;
	cursor: pointer;
	z-index: 81;
}

/*1st sub level menu*/
.ddsmoothmenu ul ul {
	position: absolute;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	background: #404346; /* default color if the gradients arent supported*/
	background: -webkit-linear-gradient(top, #434749 0%,#3d4144 100%);
	background: -ms-linear-gradient(top, #434749 0%,#3d4144 100%);
	background: linear-gradient(to bottom, #434749 0%,#3d4144 100%);
	text-transform: none;
}

.ddsmoothmenu ul ul:before {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	bottom: 10px;
	left: -25px;
	width: 220px;
	background: url('./images/menu_shadow_sides.png') repeat-y;
}

.ddsmoothmenu ul ul:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -25px;
	height: 35px;
	left: -25px;
	width: 220px;
	background: url('./images/menu_shadow_bottom.png') no-repeat;
}

.ddsmoothmenu li li{
	 list-style-type: none;
	 margin-bottom:0px;
}

.menuDropdownSpan ul {
	position: absolute;
	background: #ccc;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	border-bottom: 1px solid #ccc;
}

.menuDropdownSpan li {
	margin-bottom: 0;
}

.ddsmoothmenu ul li ul a:hover,
.menuDropdownSpan ul a:hover {
	background: #26282a;
	border-top-color: #444547;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul ul li,
.menuDropdownSpan ul li {
	display: list-item;
	float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul ul ul,
.menuDropdownSpan ul ul ul {
	top: 0;
	background: #26282a;
}

.ddsmoothmenu ul ul ul a:hover,
.menuDropdownSpan ul ul ul a:hover {
	background: #454b50;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a,
.menuDropdownSpan ul li a {
	margin: 0;
	padding: 0 5px 0 20px;
	width: 170px;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #57595c;
	border-bottom: 1px solid #363a3c
}

.ddsmoothmenu ul li ul li a:link,
.ddsmoothmenu ul li a:visited,
.menuDropdownSpan ul li a:link,
.menuDropdownSpan ul li a:visited {
	color: #ffffff;
}

/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass {
	position: absolute;
	top: 18px;
	right: 9px;
	width: 13px;
	height: 11px;
	background: url('./images/menu_arrow_down_blue.png') center center no-repeat;
}

li:hover .downarrowclass {
	background-image: url('./images/menu_arrow_down.png');
}

.rightarrowclass {
	position: absolute;
	top: 14px;
	right: 9px;
	width: 10px;
	height: 13px;
	background: url('./images/menu_arrow_right.png') center center no-repeat;
}

/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background: silver;
}

.toplevelshadow { /*shadow opacity. Doesn't work in IE*/
	opacity: 0.8;
}

/* ==========================================================================
   768 width and below screen size (iPad portrait)
   ========================================================================== */
@media all and (max-width: 768px) {
	.ddsmoothmenu ul li div a.tab span {
		padding: 0 8px;
	}

	.ddsmoothmenu ul li:first-child div a.tab span {
		padding-left: 13px;
	}

	.ddsmoothmenu ul li div a.tab span.with-arrow {
		padding: 0 26px 0 8px;
	}

	.downarrowclass {
		right: 7px;
	}
}
