/* Common set of styles to ensure that text gets truncated w/ an ellipsis */
/**
 * This file contains styling for components that are on all pages and are globally 
 * present throughout the application, such as header, footer, menu, etc.
 */
/**
 * Styles for UI that is on all pages.
 */
/* 	wildcard style brought over from thickbox.css since we reskinned the entire app w/ it in place.
    This gives us a normalized approach to all padding and margins */
* {
  padding: 0;
  margin: 0;
}
html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  background: #313233 url('./images/bg_texture.png');
  /* Used to disable iOS's tap highlight */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  position: relative;
  height: 100%;
  overflow: auto;
  font-family: "HelveticaNeueW02-55Roma", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 12px;
  /* background gradient from 35% white to 35% black */
  background-color: transparent;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0affffff', endColorstr='#0a000000', GradientType=0);
  /* IE6-9 fallback on vertical gradient */
}
.body-popup {
  min-width: 0;
}
html.printable {
  background: #fff;
}
html.printable body {
  background: none;
  color: #000;
}
a {
  text-decoration: none;
  cursor: pointer;
}
/* ==========================================================================
   Header & Navigation
   ========================================================================== */
#banner {
  display: none;
  /* TODO: Remove this temp patch when all banner elements have been removed */
}
.header {
  height: 50px;
  color: #fff;
  font-size: 16px;
  z-index: 1000;
  background: url(./images/chrome_background_top.png) repeat-x;
}
.header .chrome-background-smooth {
  background: url(./images/chrome_background_top_smooth.png) repeat-x;
  background-color: inherit;
}
.header .logoContainer {
  float: left;
  width: 127px;
  height: 50px;
}
.header .nav {
  text-transform: uppercase;
  font-family: 'HelveticaNeueW01-75Bold', Helvetica, sans-serif;
}
.header ul {
  margin: 0;
}
.topbar {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  margin-bottom: 15px;
  background: url("./images/topbar.png") repeat-x;
}
.topbar > * {
  margin-top: 0;
  margin-bottom: 0;
}
.topbar > h1,
.topbar a:link,
.topbar a:visited,
.topbar a:active {
  font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
  font-weight: normal;
  color: #646565;
  font-size: 13px;
  text-transform: uppercase;
}
.topbar a:hover {
  color: #aaaaaa;
}
#menu {
  height: 50px;
}
/* ==========================================================================
   Page Content
   ========================================================================== */
.page-content-tag {
  padding-left: 30px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* 	Ensure that the overflow scrolling is not inharited further down the line
        This fixes the z-index layering issue found on iOS6 Mobile Safari */
  padding-top: 15px;
  padding-bottom: 30px;
  position: absolute;
  bottom: 48px;
  left: 0;
  right: 0;
  top: 96px;
}
.page-content-tag > * {
  -webkit-overflow-scrolling: auto;
}
.page-content-tag.popup {
  top: 0;
  bottom: 0;
  padding: 15px;
}
/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 !important;
  /* TODO: Remove !important once access/style/default.css has been factored out */
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #aaacb0;
  font-size: 9px;
  background: url(./images/chrome_background_bottom.png) repeat-x;
}
.footer a {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #aaacb0;
  font-size: 9px;
  text-decoration: underline;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .pipe {
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #aaacb0;
  font-size: 9px;
  margin-left: 5px;
  margin-right: 5px;
}
.footer .status {
  display: none;
}
.footer .powered-by img {
  vertical-align: middle;
  padding-right: 2px;
}
#ui-version {
  float: right;
  padding-right: 10px;
}
/* --- bottom grey bar right above the footer */
.bottomBar {
  background: url("./images/topbar.png");
  position: fixed;
  left: 0;
  right: 0;
  bottom: 30px;
  margin: 0 !important;
  /* TODO: Remove !important once access/style/default.css has been factored out */
  height: 17px;
  border-top: 1px solid #5c5c5c;
}
/* ==========================================================================
   Overrides
   ========================================================================== */
.brivoPanel {
  margin-bottom: 0;
}
.brivoPanelLeftChrome,
.brivoPanelRightChrome,
.brivoPanelTopChrome,
.brivoPanelMidChrome,
.brivoPanelBottomChrome {
  display: none;
}
.brivoPanelContent {
  background: none;
}
/* ==========================================================================
   Styling for images used on multiple screens.
   ========================================================================== */
.icon-error {
  width: 60px;
  height: 60px;
}
.icon-site {
  width: 11px;
  height: 17px;
  padding: 1px 0px 5px 0px;
}
.icon-door {
  width: 13px;
  height: 20px;
}
.icon-schedule {
  width: 19px;
  height: 19;
}
.icon-elevator {
  width: 19px;
  height: 21px;
}
.icon-floor {
  width: 19px;
  height: 19px;
}
.icon-device {
  width: 22px;
  height: 22px;
}
.icon-group {
  width: 23px;
  height: 16px;
}
/* ==========================================================================
   Custom scroll bars to work with iScroll 4 (See scroll() function in utils.js)
   ========================================================================== */
.scroll-content {
  margin-right: 12px;
}
.scrollbarV {
  position: absolute;
  width: 12px;
  top: 0;
  bottom: 0;
  right: 0;
  border-left: 1px solid #313131;
}
.scrollbarV > div {
  position: absolute;
  width: 7px;
  left: 2px;
  min-height: 40px;
}
.scrollbarV > div:before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 0;
  right: 0;
  border-radius: 4px;
  background-color: #4f575a;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#4f575a, endColorstr=#363a3d)";
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f575a), to(#363a3d));
  background-image: -webkit-linear-gradient(top, #4f575a, #363a3d);
  background-image: -moz-linear-gradient(top, #4f575a, #363a3d);
  background-image: -ms-linear-gradient(top, #4f575a, #363a3d);
  background-image: -o-linear-gradient(top, #4f575a, #363a3d);
  background-image: linear-gradient(top, #4f575a, #363a3d);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: 0.8;
}
.scrollbarV > div:after {
  content: "";
  display: block;
  position: relative;
  top: 50%;
  left: 2px;
  width: 3px;
  height: 13px;
  margin-top: -7px;
  /* /ui/images/components/scrollbar/handle.png */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAANCAYAAABsItTPAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAC5JREFUGFdj+PcfDMA0AzJGyPz7hyYDEgYx/gOVECuD2x4gAQLYXADRBOT8/w8ANf2CcZZNl0kAAAAASUVORK5CYII=);
}
.scrollbarH {
  position: absolute;
  z-index: 100;
  height: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 2px;
  border-top: 1px solid #313131;
}
.scrollbarH > div {
  position: absolute;
  z-index: 100;
  height: 7px;
  min-width: 40px;
}
.scrollbarH > div:before {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  right: 2px;
  top: 0;
  bottom: 0;
  border-radius: 4px;
  background-color: #4f575a;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#4f575a, endColorstr=#363a3d)";
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f575a), to(#363a3d));
  background-image: -webkit-linear-gradient(top, #4f575a, #363a3d);
  background-image: -moz-linear-gradient(top, #4f575a, #363a3d);
  background-image: -ms-linear-gradient(top, #4f575a, #363a3d);
  background-image: -o-linear-gradient(top, #4f575a, #363a3d);
  background-image: linear-gradient(top, #4f575a, #363a3d);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: 0.8;
}
.scrollbarH > div:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  top: 2px;
  height: 3px;
  width: 13px;
  margin-left: -7px;
  /* /ui/images/components/scrollbar/handle.png */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAANCAYAAABsItTPAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAC5JREFUGFdj+PcfDMA0AzJGyPz7hyYDEgYx/gOVECuD2x4gAQLYXADRBOT8/w8ANf2CcZZNl0kAAAAASUVORK5CYII=);
}
/* 	===========================================================================
    Installer styles (appears globally on every screen when applicable)
    =========================================================================== */
#installerFrameDiv {
  position: fixed;
  right: 15px;
  bottom: 60px;
  width: 675px;
  background-color: #ff9000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  opacity: 0.9;
  border: 1px solid #ff9000;
  border-radius: 4px;
  padding: 15px 15px 15px 55px;
  cursor: pointer;
}
#installerFrameDiv > .explination-icon {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 17px;
  height: 16px;
  background: url('./images/explination.png');
}
#installerFrameDiv > #installerBox .installerMessage {
  display: block;
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #383b3e;
  font-size: 14px;
  color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#installerFrameDiv > #installerBox .installerActions {
  display: block;
}
#installerFrameDiv > #installerBox .installerActions > .column {
  width: 200px;
  padding-right: 15px;
}
#installerFrameDiv > #installerBox .installerActions > .column.last {
  width: 95px;
  margin-top: 38px;
}
#installerFrameDiv > #installerBox .installerActions > .column .form-field {
  display: block;
  padding-top: 10px;
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 14px;
  /* override text gradient from common label*/
}
#installerFrameDiv > #installerBox .installerActions > .column .form-fieldlabel {
  -moz-box-shadow: 5px 0 5px -2px #111111;
  -webkit-box-shadow: 5px 0 5px -2px #111111;
  box-shadow: 5px 0 5px -2px #111111;
}
#installerFrameDiv > #installerBox .installerActions > .column .form-field .input-look {
  height: 30px;
  line-height: 29px;
  /*ie8 vertical text align*/
  padding: 0 10px;
  background: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: 0.5;
  border: 0 none;
  margin-right: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "HelveticaNeueW01-65Medi", Helvetica, sans-serif;
  font-weight: normal;
  color: #dadbdc;
  font-size: 13px;
}
#installerFrameDiv > #installerBox .installerActions > .column > button {
  display: block;
}
#installerFrameDiv > #installerBox .installerActions > .column #installerLocale > a {
  box-sizing: content-box;
}
