/** VARIABLES **/
:root {
    /* Brivo Orange: */
    --brivo-orange: #ee6824;
    /* Brivo Green: */
    --brivo-green: #79c142;
    /* Brivo Grey: */
    --brivo-grey: #6c6d6e;
    /* Brivo Blue: */
    --brivo-blue: #749cd2;

    /* Grey: */
    --intercom-grey: #363d43;
    /* Grey - 40% Shade: */
    --intercom-grey--semi-dark: #1f2427;
    /* Grey - 60% Shade: */
    --intercom-grey--dark: #16181c;
    /* 0Grey - 30% Tint: */
    --intercom-grey--medium: #595D64;
    /* 0Grey - 50% Tint: */
    --intercom-grey--semi-light: #9b9ea1;
    /* Grey - 80% Tint: */
    --intercom-grey--light: #d7d8d9;
    /* Brivo Grey - 80% Tint: */
    --intercom-text: #e2e2e2;

    /* Blue Grey */
    --intercom-blue-grey: #242B36;
    /* Blue Grey */
    --intercom-blue-grey--dark: #222934;
    /* Blue Grey */
    --intercom-blue-grey--semi-dark: #40546d;

    /* 07 Violet: */
    --intercom-purple: #481D93;
    /* 07 Violet - 50% Tint: */
    --intercom-purple--light: #A48EC9;

    /* 06 Indigo: */
    --intercom-indigo: #17407A;
    /* 06 Indigo - 50% Tint: */
    --intercom-indigo--light: #8BA0BD;

    /* 05 Blue: */
    --intercom-blue: #3F85D1;
    /* 05 Blue - 50% Tint: */
    --intercom-blue--light: #9FC2E8;

    /* 04 Green: */
    --intercom-green: #7AC142;
    /* 04 Green - 50% Tint: */
    --intercom-green--light: #BDE0A1;

    /* 03 Yellow: */
    --intercom-yellow: #EDD000;
    /* 03 Yellow - 50% Tint: */
    --intercom-yellow--light: #F6E880;

    /* 02 Orange: */
    --intercom-orange: #F16521;
    /* 02 Orange - 50% Tint: */
    --intercom-orange--light: #F8B290;

    /* 01 Red: */
    --intercom-red: #C1272D; /* AMANDA'S GOOD RED, #C1272D*/
    /* 01 Red - 50% Tint: */
    --intercom-red--light: #C43B4B;

    /* Brivo Font */
    --brivo-font-family: 'HelveticaNeue', 'Helvetica Neue', sans-serif;
    --brivo-font-family--light: 'HelveticaNeue-Light', 'Helvetica Neue', sans-serif;

    /* Intercom Font */
    --intercom-font: 'Avenir Next', 'Helvetica Neue', sans-serif;
    --intercom-font--lato: 'Lato', 'Helvetica Neue', sans-serif;
    --intercom-font--mono: 'Menlo', monospace;

    /* Intercom Font Weight */
    --intercom-font-weight--normal: 400;
}

/** BASE STYLES **/
html {
    font-size: 13px;
}

body {
    font-family: var(--intercom-font);
    font-weight: var(--intercom-font-weight--normal);
    color: var(--intercom-text);
    background-color: var(--intercom-grey);
}

/** BRIVO CONTAINER **/
.brivo--container__content {
    padding: 0 1rem;
}

.brivo--navbar {
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
}

@media screen and (min-width: 1100px) and (min-width: 1440px) {
    .brivo--container {
        max-width: 1300px;
    }
    .brivo--header__container {
        max-width: 1440px;
    }
}

@media screen and (min-width: 1920px) {
    .brivo--container {
        max-width: 1920px;
    }
    .brivo--header__container {
        max-width: 2048px;
    }
}

.ghost {
    color: var(--intercom-grey);
}

.topbar > h1 {
  line-height: inherit;
}
.btn-default {
    line-height: inherit;
}

.brivo-list > .brivo-list-header, .brivo-list > .brivo-list-row {
    padding: 2px 2px 2px 0;
    padding-left: 0px;
    border-bottom: 1px solid #cccccc;
    font-weight: normal;
}

*::-ms-backdrop, .brivo-list > .brivo-list-row {
    height: 70px;
}

*::-ms-backdrop, .brivo-list > .history-summary.brivo-list-row {
    height: auto;
}

.brivo-list > .brivo-list-row {
    min-height: 70px;
    border-bottom: 1px solid #555555;
    font-family: "HelveticaNeueW02-55Roma", Helvetica, sans-serif;
    color: #ffffff;
    font-size: 12px;
}

.brivo-list.execution-logs > .brivo-list-row:last-child {
    border-bottom: none;
}

.brivo-list > .brivo-list-row.directory-rules-summary {
    min-height: 140px;
}

.brivo-list > .brivo-list-row.history-summary {
    min-height: 75px;
}

.brivo-list > .brivo-list-row.log-summary {
    min-height: 75px;
}

*::-ms-backdrop,.brivo-list > .brivo-list-row.log-summary {
    height: 75px;
    min-height: 75px;
}

*::-ms-backdrop, .brivo-list > .brivo-list-row.directory-rules-summary {
    height: 140px;
}

.brivo-list-header > div {
    font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
    font-weight: normal;
    color: #c4c4c4;
    font-size: 14px;
    border-bottom: 0;
}

.brivo-list > .brivo-list-row {
    background: url(./images/100px_black_50.png);
}

.modal-title {
    font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
    font-weight: 600;
    color: #3a587d;
    font-size: 16px;
    margin: 0;
}

.modal-content {
    background: #f9f9f9;
    max-width: 350px;
}

.modal-body {
    font-family: "HelveticaNeueW02-55Roma", Helvetica, sans-serif;
    font-weight: normal;
    color: #52575e;
    font-size: 12px;
    max-width: 300px;
    margin: 0;
}
.modal-footer {
    background: url("./images/popup_dividing_shadow.png") repeat-x top;
}

.form-control-plain-text {
    display: block;
    color: inherit;
    padding: .375rem .0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: inherit;
    background-clip: inherit;
    border: none;
}

.form-control .custom-input {
    height: 30px;
    line-height: 29px;
    padding: 0 10px;
    background: none;
    border-width: 0 0 2px;
    border-bottom: 1px solid #ced4da;
    margin-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: HelveticaNeueW01-65Medi, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    font-size: 13px;
    background-color: inherit;
    background-clip: inherit;
}

.custom-input-tooltip {
    border-bottom: 1px solid #ced4da;
}
.custom-input-tooltip .form-control .custom-input {
    border-bottom: none;
}

.custom-input-tooltip > .form-control.custom-input {
    border-bottom: none;
}

.form-control .custom-select {
    background-color: inherit;
    background-clip: inherit;
}

.brivo-button, .brivo-button a, .brivo-button a:active, .brivo-button a:link, .brivo-button a:visited, .brivo-button a:hover {
    color: #52575e;
    text-decoration: none !important;
}

.brivo-button {
    min-width: 70px;
}

.custom-input.mac-input-part {
    width: 14.1%;
    margin-right: 0px;
    max-width: 30px;
}

.mac-input-divider {
    width: 3%;
    max-width: 15px;
}

input.custom-input {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    background: transparent;
    border-bottom: 1px solid #ced4da;
    border-radius: 0px;
    padding: 0px 0px 0px 0px;
}

input.custom-input.form-control:focus, .form-control:focus {
    background: transparent;
    border-color: #ced4da;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #dadbdc;
}

.form-control:focus {
    background-color: transparent;
}

.brivo-button.crud-buttons-3 {
    width: 33%;
}

.brivo-button.crud-buttons-1 {
    width: 100%;
}

@media (min-width: 768px ) {
    .brivo-list > .brivo-list-row, .brivo-list > .brivo-list-row.directory-rules-summary {
        min-height: 45px;
    }
   .brivo-list > .brivo-list-row, .brivo-list > .brivo-list-row.history-summary,.brivo-list > .brivo-list-row.log-summary {
        min-height: 45px;
    }
    *::-ms-backdrop,.brivo-list > .brivo-list-row.log-summary {
        height: 45px;
        min-height: 45px;
    }
    *::-ms-backdrop,.brivo-list > .brivo-list-row, .brivo-list > .brivo-list-row.directory-rules-summary {
        height: 45px;
    }
    .brivo-button > .text, .custom-button > .text {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.brivo-account-filter {
    border-bottom: 1px solid #ced4da;
    padding-bottom : 15px;
}

.account-selection-input {
  padding-left: 0px;
  padding-right: 5px;
}

.brivo-search-result {
    padding: 40px 15px 0px 15px;
}

.form-group. account-selection-input{
  padding-left : 0px;
}

.form-group.brivo-search-result {
  padding-bottom: 0px;
}

.user-name {
    font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
    font-weight: normal;
    color: #9EB5D1 !important;
    font-size: 13px;
    min-width: 85px;
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: visible;
}

.dropdown-toggle:after {
    color: #9EB5D1 !important;
}

.user-name-dropdown {
    padding: 0px 30px 0px 0px;
    background-color: transparent;
}

.user-name-dropdown.btn-secondary {
    color: #9EB5D1 !important;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle,
.user-name-dropdown.btn-secondary, .user-name-dropdown.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    color: #9EB5D1 !important;
    background-color: transparent;
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-item {
    background-color: none;
}

.btn.focus, .btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

select.custom-select, select.custom-select:focus {
    color: #dadbdc;
    vertical-align: middle;
    background: transparent;
    border: none;
    border-radius: .0rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-group > select {
    margin-left: -12px;
}

.text-link > a, .text-link > a:hover {
    color: #ffffff
}

.directory-rules-warning {
    margin:0px !important;
}

.brivo-list-cell {
    padding-bottom : 5px;
}

@media screen and (min-width: 720px) {
    .directory-rules-warning {
        height: 100%;
    }
    .brivo-list-cell {
        padding-bottom : 0px;
    }
    .form-group.switch-code-desc {
        padding-bottom : 20px;
    }
}

.sectionLinks.button-group {
    padding: 0 15px 15px 15px;
    margin-bottom: 15px;
}

.sectionLinks.button-group > .button-container {
    margin-right: unset;
    border-bottom: 1px solid #ced4da;
    padding-left: 15px;
    padding-bottom: 15px;
}

.entity-name {
    padding-left: 15px;
    padding-bottom: 15px;
}
.entity-name.directory-rules {
    padding-left: 5px;
}

.secondary-header-info {
    font-family: "Avenir Next","Helvetica Neue",sans-serif;
    text-transform: none;
}

*::-ms-backdrop,.secondary-header-info {
    flex-basis : 100%;
}

#error-page-msg, .js-error, div.error, div.js-error, div.validation div {
    margin: 0 0px 20px 0;
}

.bottom-button-bar {
    padding-top : 30px;
    padding-left : 15px;
}

.top-button-bar {
    padding-bottom : 30px;
    padding-left : 15px;
}

.warning-icon {
    top: unset;
    left: 20px !important;
}

.chrome-background-color {
    background-color: #2C3B50 !important;
}

.popover {
    font-family: HelveticaNeueW01-65Medi,Helvetica,sans-serif;
}

.wrapped-text {
    word-wrap: break-word;
}

*::-ms-backdrop, .wrapped-text {
    word-wrap: inherit;
}

*::-ms-backdrop, .brivo-list-cell {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.wrapped-text-break-word {
    word-wrap: break-word;
}

.form-group {
    padding-bottom : 20px;
}

.form-group.switch-code-desc {
    padding-bottom : 40px;
}

.chrome-text-color {
    color: #9EB5D1 !important;
}

input.custom-input::-ms-clear {
    display: none;
}

body {
    min-height: 100%;
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: #52575e;
    text-decoration: none;
}

#user-info-control {
    position: inherit !important;
}

@media (min-width: 768px ) {
    .col.table-cell, .col-1.table-cell, .col-2.table-cell, .col-3.table-cell, .col-4.table-cell, .col-5.table-cell, .col-6.table-cell, .col-7.table-cell, .col-8.table-cell, .col-9.table-cell, .col-10.table-cell, .col-11.table-cell, .col-12.table-cell {
        padding-right: 0px;
    }
}

#logo {
    height: 50px;
    padding-left: 15px;
}

#mount-root {
    background-color: var(--intercom-grey);
}

a.link {
    color: #91b9e5;
}

button.blue {
    background: linear-gradient(#739DD2,#3E7AC9);
    border-color: #739DD2;
}

button.dark-grey {
    background: linear-gradient(#739DD2,#3E7AC9);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #dadbdc;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #dadbdc;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #dadbdc;
}
:-moz-placeholder { /* Firefox 18- */
    color: #dadbdc;
}

.refresh-token-status {
    word-wrap: break-word;
    line-height: 1.5;
    height: 100%;
}

.refresh-token-status-wrapper {
    width: 40%;
}

*::-ms-backdrop,.refresh-token-status-wrapper {
    flex-basis : 40%;
}

@media screen and (min-width: 720px) {
    .refresh-token-status-wrapper {
        width: 80%;
    }
    *::-ms-backdrop,.refresh-token-status-wrapper {
        flex-basis : 80%;
    }
    .refresh-token-status {
        line-height: 1;
    }
}

.account-search-filter {
  display: block;
  margin: 0 auto;
}

.account-search-filter-wrapper {
  padding-top : 40px;
  height: 100%;
}

.account-search-button {
  min-width : 130px;
}
