/* Common set of styles to ensure that text gets truncated w/ an ellipsis */
/* Vars
============================================*/
/* User Profile
========================================================================== */
#user-info-control {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 50px;
  top: 0;
  right: 0;
  cursor: pointer;
  padding-top: 11px;
  -moz-box-shadow: 0px -6px 16px #111111;
  -webkit-box-shadow: 0px -6px 16px #111111;
  box-shadow: 0px -6px 16px #111111;
}
#user-info-control .user-avatar {
  margin: 0 11px 0 10px;
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
}
#user-info-control .user-avatar.master {
  background: url("./images/usericon_master.png");
}
#user-info-control .user-avatar.senior {
  background: url("./images/usericon_senior.png");
}
#user-info-control .user-avatar.assist {
  background: url("./images/usericon_assistant.png");
}
#user-info-control .user-avatar.support {
  background: url("./images/usericon_support.png");
}
#user-info-control .name {
  font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 13px;
  min-width: 85px;
  max-width: 200px;
  display: inline-block;
  vertical-align: middle;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#user-info-control .dropdown-arrow {
  width: 20px;
  height: 20px;
  margin: 0 11px 0 11px;
  display: inline-block;
  vertical-align: middle;
}
/*
#user-info-dropdown {
  position: absolute;
  z-index: 1000000;
  width: 234px;
  top: 50px;
  right: 0;
  -webkit-box-shadow: -10px 3px 15px -6px #111111;
  -moz-box-shadow: -10px 3px 15px -6px #111111;
  box-shadow: -10px 3px 15px -6px #111111;
  overflow-y: hidden;
}
#user-info-dropdown .user-nav-link {
  display: block;
  height: 50px;
  line-height: 48px;
  padding-left: 20px;
  font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 13px;
  background: url("../../images/menu/bg_userInfo.png") repeat-x;
  box-shadow: 0px 0px 3px black;
}
#user-info-dropdown .user-nav-link:hover {
  background: url("../../images/menu/bg_userInfo.png") repeat-x 0 -50px;
}
#user-info-dropdown .info-area {
  position: relative;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  background: url("../../images/menu/bg_userInfo.png") repeat-x 0 -100px;
}
#user-info-dropdown .info-area > .user-avatar {
  width: 28px;
  height: 28px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
#user-info-dropdown .info-area > .user-avatar.master {
  background: url("../../images/components/usericon_master.png");
}
#user-info-dropdown .info-area > .user-avatar.senior {
  background: url("../../images/components/usericon_senior.png");
}
#user-info-dropdown .info-area > .user-avatar.assist {
  background: url("../../images/components/usericon_assistant.png");
}
#user-info-dropdown .info-area > .user-avatar.support {
  background: url("../../images/components/usericon_support.png");
}
#user-info-dropdown .info-area > label {
  font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
  font-weight: normal;
  color: #8c9196;
  font-size: 11px;
  padding-left: 10px;
  display: block;
}
#user-info-dropdown .info-area > .name {
  padding-top: 2px;
  padding-left: 10px;
  font-family: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 11px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
*/
