.Select--single > .Select-control .Select-value, .Select-placeholder {
    color: #dadbdc;
}

.Select.Select--single {
    border-bottom: 1px solid #ced4da;
    height: 30px;
}

.Select-control {
    background: transparent;
    background-color: unset;
    border-color: unset;
    border-radius: unset;
    border: none;
    color: #dadbdc;
}

.Select.is-focused > .Select-control {
    background: transparent;
}
.Select.is-focused:not(.is-open) > .Select-control {
    border-color: unset;
    box-shadow: unset;
    background: transparent;
}

.Select-menu-outer {
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
    background: #000000;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    opacity: 0.9;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.Select-option, .Select-option.is-focused {
    background: #000000;
    color: #dadbdc;
}

.Select-option.is-selected {
    background-color: #212526;
    color: #dadbdc;
}

.Select-arrow {
    border-color: #dadbdc transparent transparent;
}

.Select .Select-arrow-zone:hover > .Select-arrow {
    border-top-color: #dadbdc;
}

.Select-clear-zone, .Select-clear-zone:hover {
    color: #dadbdc;
}

.Select, .Select div, .Select input, .Select span {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.Select.is-open > .Select-control .Select-arrow {
    top: -2px;
    border-color: transparent transparent #dadbdc;
    border-width: 0 5px 5px;
}

.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: #dadbdc;
}

.Select-value-label {
    font-family: HelveticaNeueW01-65Medi,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    padding-left: 0px;
    padding-right: 0px;
}

.Select.is-focused:not(.is-open) > .Select-control {
    border-color: unset;
    box-shadow: none;
    background: transparent;
}

*::-ms-backdrop, .Select-clear-zone {
    vertical-align: auto !important;
}
