.Collapsible {
width: 100%;
}

.Collapsible__trigger.is-open  .fa-chevron-down {
  display : none;
}

.Collapsible__trigger.is-closed .fa-chevron-up {
  display : none;
}

.collapsible-handle {
  padding-left : 10px;
  font-size: 16px;
}

.Collapsible__trigger .svg-inline--fa {
  vertical-align: middle;
}

.execution-row {
  min-height : 45px;
}

*::-ms-backdrop,.execution-row {
  height: 45px;
}
